﻿@model orDatabase.ItemsCategory

@{
    ViewBag.Title = Model.CatName ;
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "edit";
}


@using (Html.BeginForm((string)ViewBag.Contoler, "Categories",
                                        FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.EditorForModel()



    <div class="row col-lg-offset-3">
        <input type="submit" value="حفظ" class="btn btn-darkblue " />
        @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })


    </div>

}