﻿@model IEnumerable<orDatabase.ItemsCategory>

@{
    ViewBag.Title = "التقسيم السعلي";
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
}


<p>
    @Html.ActionLink("اضافه", "Create", null, new { @class = "btn btn-black" })
</p>



<ul class="list-group">
    @foreach (var item in Model)
    {

        <li class="list-group-item">
            <a href="@Url.Action("Details" , new { id= item.CatID })">
            @item.CatName
               </a>
            <span class="badge badge-primary badge-pill">
                @item.Items.Count منتج
            </span>
        </li>


    }
   
   
</ul>