﻿
@model orDatabase.Customer

@{
    ViewBag.Title = Model.User.FullName;
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "details";
}


<div class="panel panel-default">
    <div class="panel-body">

        @Html.EditorFor(x => x.User)
        @Html.EditorForModel()

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row col-lg-offset-3">

            @Html.ActionLink("عوده", "Index","Home",null,  new { @class = "btn btn-warning" })
            
        </div>
    </div>

</div>

<div class="panel panel-alt">
    <div class="panel-heading">
        <h5>الطلبات</h5>
    </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/Clinet/Views/Shared/Order/_OrdersTable.cshtml", 
       Model.Orders.Where(x => x.OrderStatusID != 1 && x.SPID == _app.UI.CurrentUser.UserID).ToList())
    </div>
</div>
