﻿@model orDatabase.BankPayement



<table class="table-striped col-xs-12">
    <tbody>
        <tr>
            <td>
                <h4>Date</h4>
            </td>
            <td>@Model.TransactionDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td>
                <h4>Time</h4>
            </td>
            <td>@Model.TransactionDate.ToShortTimeString()</td>
        </tr>
        <tr>
            <td>
                <h4>Status</h4>
            </td>
            <td>
                @Model.PaymentStatu.Name
            </td>
        </tr>
        <tr>
            <td>
                <h4>Amount</h4>
            </td>
            <td>@Model.Amount KD</td>
        </tr>
        <tr>
            <td>
                <h4>Reference ID</h4>
            </td>
            <td>@Model.ReferenceID</td>
        </tr>
        <tr>
            <td>
                <h4>Payment ID</h4>
            </td>
            <td>@Model.BankPayementID</td>
        </tr>
        <tr>
            <td>
                <h4>Merchant track ID </h4>
            </td>
            <td>@Model.TrackID</td>
        </tr>
        <tr>
            <td>
                <h4>Result Code</h4>
            </td>
            <td>@Model.ResultCode</td>
        </tr>
        <tr>

            <td>
                <h4>Customer Email</h4>
            </td>
            <td>@Model.CustomerPaymentEmail</td>
        </tr>
        <tr>
            <td>
                <h4>Transaction ID</h4>
            </td>
            <td>@Model.TransactionID</td>
        </tr>
        <tr>
            <td>
                <h4>Auth Code</h4>
            </td>
            <td>@Model.AuthCode</td>
        </tr>
        <tr>
            <td>
                <h4>Order ID </h4>
            </td>
            <td>@Model.OrderID</td>
        </tr>
    </tbody>
</table>

