﻿@model List<orDatabase.BankPayement>



<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                رقم عمليه البنك
            </th>
            <th>
                الحاله
            </th>
            <th>
                المبلغ
            </th>
            <th>
                رقم الطلب
            </th>
            <th>
                حاله الطلب
            </th>
            <th>
                مقدم الخدمه
            </th>
            <th>
                التاريخ
            </th>
            <th>
                الوقت
            </th>
            <th>
                TrackID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.LocalPayementID.ToString(), "Details", new { id = item.LocalPayementID })
                </td>
                <td>
                    @Html.ActionLink(item.BankPayementID.ToString(), "Details", new { id = item.LocalPayementID })
                </td>
                <td>
                    @item.PaymentStatu.Name
                </td>
                <td>
                    @item.Amount  KW
                </td>
                <td>
                    @if (item.Order.OrderStatusID != 1)
                    {
                        @Html.ActionLink(item.OrderID.ToString(), "OrderDetails", "Orders", new { id = item.OrderID }, null)
                    }
                    else
                    {
                        @item.OrderID
                    }
                </td>
                <td>
                    @item.Order.OrderStatue.StatusName
                </td>
                <td>
                    @Html.ActionLink(item.Order.ServiceProvider.SpName, "Details", "ServiceProviders", new { id = item.Order.SPID }, null)
                </td>
                <td>
                    @item.TransactionDate.ToShortDateString()
                </td>
                <td>
                    @item.TransactionDate.ToShortTimeString()
                </td>
                <td>
                    @item.TrackID
                </td>
            </tr>
        }
    </tbody>
</table>
