﻿


@model  orDatabase.User

@{
    ViewBag.Title = "تعديل بيانات الملف الشخصي";
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
}



@using (Html.BeginForm("Save", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-9 col-lg-offset-1">

                @Html.HiddenFor(x => x.UserID)

                <div class="row">
                    <div class="col-md-3">
                        <div class="row ">
                            <img src="@Model.Photo" alt="" id="U_Photo" class="thumbnail" name="U.Photo" />
                        </div>
                        <div class="row">
                            <div class="col-md-12  text-center">

                                <span style="cursor:pointer">
                                    <span class="button-content" onclick="$('#filePhoto').click();">
                                        تغير الصوره
                                    </span>
                                </span>
                                <input type="file" id="filePhoto" name="filePhoto" style="display:none" />


                            </div>

                        </div>

                    </div>

                    <div class="col-md-7">






                        <label class="control-label">الاسم</label>
                        <div class="row mb10">
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.fName, new { @class = "form-control", @placeholder = "الاسم الاول", @required = "" })



                            </div>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.mName, new { @class = "form-control", @placeholder = "الاسم الاوسط", @required = "" })

                            </div>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.lName, new { @class = "form-control", @placeholder = "الاسم الاخير", @required = "" })
                            </div>
                        </div>

                        <div class="mb10">
                            @Html.LabelFor(x => x.LoginName, "اسم المستخدم", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control", @required = "", @number = "true", @disabled = "" })
                            <div class="">
                                <span class="infosummary last float-right"> الاسم الذي سيتخدم في تسجيل الدخول</span>
                                <br />
                                <span class="infosummary last float-right">غير مسموح بتغير الاسم ، برجاء الاتصال بمدير النظام</span>
                            </div>
                        </div>

                        <div class="mb10">
                            @Html.LabelFor(x => x.LoginPassword, "كلمه المرور", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.LoginPassword, new { @class = "form-control", @required = "", @type = "password" })
                        </div>

                        <div class="mb10">
                            <label class="control-label" for="password_again">اعاده كلمه المرور</label>
                            <input type="password" class="form-control" required id="password_again" equalTo='#LoginPassword' />
                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @*<a class="btn btn-darkblue">.btn-darkblue</a>*@
                    <input type="submit" value="حفظ" class="btn btn-darkblue " />
                </div>


            </div>
            </div>
        </div>
            }
