﻿@model orDatabase.Driver

@{
    ViewBag.Title = "اضافه سائق";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "create";
    ViewBag.userType = "driver";
}




@using (Html.BeginForm((string)ViewBag.Contoler, "SystemSetup",
                                        FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.EditorFor(x => x.User)



    <div class="panel panel-default">
        <div class="panel-body">




            <div class="row">
                <div class="col-md-3">



                </div>

                <div class="col-md-7">

                    <div class="mb10">
                        @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @required = "" })
                        <div class="">
                            <span class="infosummary last float-right">اسم المستخدم الذي سيتخدم في تسجيل الدخول</span>
                        </div>
                    </div>
                    <div class="mb10">
                        @Html.LabelFor(x => x.LicenseNumber, "رقم الرخصه", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.LicenseNumber, new { @class = "form-control" })

                    </div>
                    <div class="mb10">
                        @Html.LabelFor(x => x.BicycleModel, "توع المركبه", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.BicycleModel, new { @class = "form-control" })

                    </div>

                </div>
            </div>
        </div>

    </div>



    <div class="panel panel-default">
        <div class="panel-body">





            <div class="row col-lg-offset-3">
                <input type="submit" value="حفظ" class="btn btn-darkblue " />
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })


            </div>


        </div>

    </div>
}
