﻿@model _app.PageClass.DeleteDriver
@{
    ViewBag.Title = "حذف سائق";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}



@using (Html.BeginForm((string)ViewBag.Contoler, "Drivers",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.Partial("~/Views/Shared/_Layouts/_MapsAPI.cshtml")

    <div class="panel panel-default">
        <div class="panel-body">





            @Html.EditorFor(x => x.Driver.User)


            @Html.HiddenFor(x => x.Driver.DriverID)

            <div class="row">
                <div class="col-md-3">



                </div>

                <div class="col-md-7">

                    <div class="mb10">
                        @Html.LabelFor(x => x.Driver.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Driver.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })

                    </div>
                    <div class="mb10">
                        @Html.LabelFor(x => x.Driver.LicenseNumber, "رقم الرخصه", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Driver.LicenseNumber, new { @class = "form-control", @readonly = "readonly" })

                    </div>
                    <div class="mb10">
                        @Html.LabelFor(x => x.Driver.BicycleModel, "توع المركبه", new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Driver.BicycleModel, new { @class = "form-control", @readonly = "readonly" })

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-3">



                </div>
                <div class="col-md-7">

                    @if (Model.Driver.lastKnownLocation != null)
                    {
                        @Html.Partial("~/Views/Shared/Maps/_LocationPicker.cshtml", new _app.UI.gLocation
                   {
                       lat = Model.Driver.lastKnownLocation.Lat.ToString()
                            ,
                       lid = Model.Driver.DriverID.ToString(),
                       lng = Model.Driver.lastKnownLocation.Lng.ToString(),
                       readOnly = true
                   })

                        <br />
                        <div class="mb10">
                            @Html.LabelFor(x => x.Driver.lastKnownLocation.SyncDate, "تاريخ اخر موقع", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Driver.lastKnownLocation.SyncDate, new { @class = "form-control",
                           @readonly = "readonly" , @value = Model.Driver.lastKnownLocation.SyncDate.Date.ToShortDateString() })

                        </div>

                    }
                    else
                    {
                        <h3>موقع غير محدد</h3>

                    }
                </div>

            </div>
        </div>

    </div>



        



    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row col-lg-offset-3">

                @if (Model.CanBeDeleted)
                {
                    <input type="submit" value="حذف" class="btn btn-danger " />
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })

                }
                else
                {
                    <input type="submit" value=" حذف" class="btn btn-danger  disabled" />
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })
                    <br />
                    <strong class="text-danger">لا يمكن حذف السجل لوجود اعتماديه عليه</strong>
                }



            </div>

        </div>

    </div>



}

