﻿@model IEnumerable<orDatabase.Driver>

@{
    ViewBag.Title = "السائقين";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">




        <p>
            @Html.ActionLink("اضافه", "Create", null, new { @class = "btn btn-black" })
        </p>


    </div>

</div>


<div class="panel panel-default">
    <div class="panel-body">




        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        الاســم
                    </th>
                    <th>
                       حاله الحساب
                    </th>
                    <th>
                        اسم تسجيل الدخول
                    </th>
                    <th>
                        رقم الهاتف
                    </th>
                    <th>
                        رقم الرخصه
                    </th>
                    <th>
                        نوع المركبه
                    </th>
                    <th>
                        الحالة
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.User.Photo)" alt="">
                        </td>
                        <td>
                            @Html.ActionLink(item.User.FullName, "Details", new { id = item.DriverID })

                        </td>
                        <td>
                            @if (item.User.Active)
                            {<span class="info">حساب نشط</span> }
                            else
                            { <span class="aRed">حساب موقوف</span>}
                        </td>
                        <td>
                            @item.User.LoginName
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.LicenseNumber
                        </td>
                        <td>
                            @item.BicycleModel
                        </td>
                        <td>
                            @if (item.Online == true)
                            {
                                <span class="text-success">متصل</span>
                            }
                            else
                            { <span class="aRed">غير متصل</span>}

                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Details", new { id = item.DriverID })" title="التفاصيل"><i class="fa fa-info"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Edit", new { id = item.DriverID })" title="تعديل بيانات"><i class="fa fa-pencil"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Delete", new { id = item.DriverID })" class="delete-row danger aRed" title="حذف"><i class="fa fa-trash-o"></i></a>
                                </div>

                            </div>



                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>