﻿
@model orDatabase.Driver

@{ ViewBag.formMode = "details"; }


<div class="modal fade bs-example-modal-static"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true" id="DriverModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">

                        <div class="thumb">
                            <img src="~/Theme/images/notificar.gif" style="height:40px" />
                        </div>
                        @*<div >

                                <h3>طلبات تحتاج الانتباه</h3>
                            </div>*@





                    </div>

                    <div class="col-md-6">
                        <h4>
                            لقد سجل السائق دخول الان !
                        </h4>
                    </div>

                    <div class="col-md-2">
                        <input type="button" class="btn btn-danger" value="اغلاق" onclick="$('#DriverModal').modal('hide').closest('.modal-backdrop').remove()" />

                    </div>
                </div>

            </div>
            <div class="modal-body">




                <div class="row ">



                    <div class="panel panel-default">
                        <div class="panel-body">





                            @Html.EditorFor(x => x.User)


                            @Html.HiddenFor(x => x.DriverID)

                            <div class="row">
                                <div class="col-md-3 text-center">

                                    <h4>
                                        عرض الملف الشخصي 
                                   
                                    <a href="@Url.Action("Details" , "Drivers", new { id = Model.DriverID })">
                                       
                                            @Model.User.FullName
                                        
                                    </a>
                                    </h4>
                                </div>

                                <div class="col-md-7">

                                    <div class="mb10">
                                        @Html.LabelFor(x => x.PhoneNumber, "رقم الهاتف", new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                    <div class="mb10">
                                        @Html.LabelFor(x => x.LicenseNumber, "رقم الرخصه", new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.LicenseNumber, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                    <div class="mb10">
                                        @Html.LabelFor(x => x.BicycleModel, "توع المركبه", new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.BicycleModel, new { @class = "form-control", @readonly = "readonly" })

                                    </div>

                                </div>
                            </div>

                            
                        </div>

                    </div>





                </div>





            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#DriverModal').modal('show');
        //$('.panel-heading').css({ 'padding': '0px' });
        $('.modal-dialog').css({ 'width': '60%' });
        //$('.panel-footer').css({ 'padding:': '0px' });

        //
        $.playSound(document.location.origin + '/Theme/media/order_update.mp3');


    });

</script>
