﻿@model orDatabase.Order



@if (ViewBag.allowPopupNoti != false)
{




    <div class="modal fade bs-example-modal-static"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
               
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            
                                <div class="thumb">
                                    <img src="~/Theme/images/notificar.gif" style="height:40px" />
                                </div>
                                @*<div >

                                    <h3>طلبات تحتاج الانتباه</h3>
                                </div>*@
                            




                            </div>



                        <div class="col-md-2">
                            <input type="button" class="btn btn-danger" value="اغلاق" onclick="$('#myModal').modal('hide').closest('.modal-backdrop').remove()" />

                        </div>
                    </div>
                        
                </div>
                <div class="modal-body">
                   
                   
                    

                    <div class="row ">


                       

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>العنوان</h5>
                                </div>
                                <div class="panel-body">
                                    @Html.Partial("~/Views/Shared/_Address.cshtml", Model.CustomerAddress)

                                </div>
                            </div>


                            @if (orDatabase.OrderStatusEnum.OpenOrders.Any(x => x == Model.OrderStatusID))
                            {
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h4>خيارات</h4>
                                    </div>
                                    <div class="panel-body">


                                      <a class="btn btn-success" href="@Url.Action("OrderDetails", "Orders", new { id = Model.OrderID })">
                                          عرض الطلب
                                      </a>

                                    </div>
                                </div>
                            }


                        </div>
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @Html.Partial("~/Views/Shared/Orders/_OrderDetails.cshtml", Model)
                                </div>
                            </div>
                        </div>

                    </div>

                    



                </div>
               
            </div>
        </div>
    </div>

    <script type="text/javascript">

    $(document).ready(function () {

        $('#myModal').modal('show');
        //$('.panel-heading').css({ 'padding': '0px' });
        $('.modal-dialog').css({ 'width': '60%' });
        //$('.panel-footer').css({ 'padding:': '0px' });

        //
        $.playSound(document.location.origin + '/Theme/media/order_update.mp3');
      

    });
       
      </script>


                       
 }