﻿@model orDatabase.BankPayement
@{
    ViewBag.Title = "عمليه دفع بنكيه";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("~/Views/Shared/Payments/_PaymentDetails.cshtml", Model)
    </div>

    <div class="panel-footer">
        <div class="col-md-4">

            @if (Model.Order.OrderStatusID != 1)
            {
                @Html.ActionLink("عرض تفاصيل الطلب  " + Model.OrderID.ToString(), "OrderDetails", "Orders", new { id = Model.OrderID }, new { @class = "btn btn-black" })
            }
            else
            {
               <a href="#" class="btn btn-black" disabled>
                   هذا الطلب مازل تحت الانشاء
               </a>
            }

        </div>
        <div class="col-md-4">
            @Html.ActionLink("كل الدفعات البنكيه", "Index", null, new { @class = "btn btn-warning" })
        </div>
       
       
    </div>
    </div>
