﻿@model  orDatabase.BankPayement
@{
    ViewBag.Title = "payment error";
    Layout = "~/Views/Shared/_Layouts/_Layout.cshtml";
}



<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body text-danger">
            <div class="col-xs-12 text-center">
                <img src="~/Theme/images/Payment/error.png" style="width:255px; height:255px" alt="ok" />
            </div>

            <div class="col-xs-12 text-center">
                @Html.Partial("~/Views/Shared/Payments/_PaymentDetails.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>


<script type="text/javascript">
    $('body').addClass('signin');
</script>