﻿
@{
    ViewBag.Title = "GetPaymentID";
    Layout = "~/Views/Shared/_Layouts/_Layout.cshtml";
}

<h2>GetPaymentID</h2>



<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body text-danger">
            <div class="col-xs-12 text-center">
                <img src="~/Theme/images/Payment/ok.png" style="width:255px; height:255px" alt="ok" />
            </div>
            <div class="col-xs-12 text-center">
                @ViewBag.Url
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>


<script type="text/javascript">
    $('body').addClass('signin');
</script>