﻿@model List<orDatabase.BankPayement>
@{
    
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("~/Views/Shared/Payments/_PaymentTable.cshtml", Model)
    </div>

</div>

