﻿@model _app.PageClass.DriverMapPath



<div class="modal fade bs-example-modal-static"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true" id="PathModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    
                    <div class="col-md-10">
                        <h4>
                            <a href="@Url.Action("OrderDetails" , "Orders", new { id = Model.Order.OrderID })">
                                طلب رقم # @Model.Order.OrderID
                            </a>
                        </h4>
                    </div>

                    <div class="col-md-2">
                        <input type="button" class="btn btn-danger" value="اغلاق" onclick="clearPopup();" />

                    </div>
                </div>

            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="row">

                        <div class="col-md-4">
                            <h4>مسار الرحلة</h4>
                            <ul>
                                @foreach (var item in Model.RoutList)
                                {
                                    <li>
                                        <a href="@Url.Action(item.URL.Action , item.URL.Contoller,new { id = item.URL.Parametr } )">
                                            @item.Text
                                        </a>
                                    </li>
                                }

                            </ul>

                            @if (Model.IsDriverBusy)
                            {
                                <br />
                            <a class="btn btn-danger">
                                هذا السائق حاليا يعمل علي توصيل طلب اخر
                            </a>
                                          
                            }
                            <br />
                            <br />
                            <div class="text-center">
                                <a href="@Url.Action("AssignOrder2Driver","Orders", new { id = Model.Order.OrderID , did= Model.Driver.DriverID })"
                                   class="btn btn-warning">
                                    ارسال الي @Model.Driver.User.fName
                                </a>
                            </div>
                          
                            
                        </div>

                        <div class="col-md-8">
                            <div id="map" style="height: 300px; position: relative; overflow: hidden; width:100%">

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    A -- نقطه البدايه
                                </div>
                                <div class="col-md-4">
                                    B -- مكان موفر الخدمه
                                </div>
                                <div class="col-md-4">
                                    C -- مكان العميل
                                </div>

                            </div>

                        </div>
                        <script type="text/javascript">

    $(document).ready(function () {

        $('#PathModal').modal('show');
     //   $('.panel-heading').css({ 'padding': '0px' });
        $('.modal-dialog').css({ 'width': '60%' });
        $('.panel-footer').css({ 'padding:': '0px' });





        initMap();
       // calcRoute();


    });



                            function clearPopup()
                            {
                                $('#PathModal').modal('hide').closest('.modal-backdrop').remove().$('#PathModal').remove();
                                //$('.modal-backdrop').remove();
                                

                            }



    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: @Model.StartPoint.lat, lng: @Model.StartPoint.lng}
        });
        directionsDisplay.setMap(map);


            calculateAndDisplayRoute(directionsService, directionsDisplay, map);


    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, map) {
        var start = new google.maps.LatLng(@Model.StartPoint.lat , @Model.StartPoint.lng);
        var end = new google.maps.LatLng(@Model.EndPoint.lat , @Model.EndPoint.lng);

        var sp = { location: new google.maps.LatLng(@Model.ServericeProvider.lat , @Model.ServericeProvider.lng), stopover: true };
        var wayp = [];
        wayp.push(sp);
        directionsService.route({
            origin: start ,
            destination: end,
            waypoints: wayp ,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
            });

        //var startMarker = new google.maps.Marker({
        //    position: start,
        //    label: '1',
        //    map: map
        //});
        //console.log('added marker 1');
        //var endMarker = new google.maps.Marker({
        //    position: start,
        //    label: '2',
        //    map: map
        //});
        //console.log('added marker 2');
    }


                        </script>







                    </div>
                </div>
    </div>
</div>
        </div>
    </div>


