﻿

@model orDatabase.Order

@{
    ViewBag.Title = "رقم الطلب" + Model.OrderID.ToString();
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "thumbnail";
    if(orDatabase.OrderStatusEnum.OpenOrders.Any(x=>x == Model.OrderStatusID))
    { ViewBag.allowPopupNoti = false; }



}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>عنوان العميل</h5>
                </div>
                <div class="panel-body">
                    @Html.Partial("~/Views/Shared/_Address.cshtml", Model.CustomerAddress)

                </div>
            </div>
        </div>
        <div class="col-md-5">
            @if (orDatabase.OrderStatusEnum.OpenOrders.Any(x => x == Model.OrderStatusID))
            {
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>خيارات</h4>
                    </div>
                    <div class="panel-body">


                        @Html.Partial("~/Views/Shared/Orders/_OrderActions.cshtml", Model)

                    </div>
                </div>
            }

        </div>
        


        


    </div>
    <div class="col-md-11">

        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("~/Views/Shared/EditorTemplates/ServiceProvider.cshtml", Model.ServiceProvider)
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("~/Views/Shared/Orders/_OrderDetails.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11">


        <div class="col-md-6">
            @if (Model.OrderRating != null)
            {

                @Html.Partial("~/Views/Shared/Orders/_Rating.cshtml", new _app.PageClass.RatingControl
           {
               Rating = Model.OrderRating.Value,
               Text = Model.RatingComment,
               UserLink = new _app.PageClass.ActionURL
               {
                   Action = "Details",
                   Contoller = "Customer",
                   Parametr = Model.CustomerID,
                   Text = Model.Customer.User.FullName
               },
               FromCustomer = true,
               UserPhoto = Model.Customer.User.Photo
           })

            }

            else
            {


                @Html.Partial("~/Views/Shared/Orders/_NoRating.cshtml", new _app.PageClass.RatingControl
           {
               UserLink = new _app.PageClass.ActionURL
               {
                   Action = "Details",
                   Contoller = "Customer",
                   Parametr = Model.CustomerID,
                   Text = Model.Customer.User.FullName
               },
               FromCustomer = true,
           })


            }

        </div>

        <div class="col-md-6">
            @if (Model.DriverRating != null)
            {

                @Html.Partial("~/Views/Shared/Orders/_Rating.cshtml", new _app.PageClass.RatingControl
           {
               Rating = Model.DriverRating.Value,
               Text = Model.DriverComment,
               UserLink = new _app.PageClass.ActionURL
               {
                   Action = "Details",
                   Contoller = "Drivers",
                   Parametr = Model.DriverID.Value,
                   Text = Model.Driver.User.FullName
               },
               FromCustomer = false,
               UserPhoto = Model.Driver.User.Photo
           })
            }

            else
            {
                if (Model.DriverID != null)
                {
                    @Html.Partial("~/Views/Shared/Orders/_NoRating.cshtml", new _app.PageClass.RatingControl
               {
                   UserLink = new _app.PageClass.ActionURL
                   {
                       Action = "Details",
                       Contoller = "Drivers",
                       Parametr = Model.DriverID.Value,
                       Text = Model.Driver.User.FullName
                   },
                   FromCustomer = false
               })

                }
                else
                {

                    @Html.Partial("~/Views/Shared/Orders/_NoRating.cshtml", new _app.PageClass.RatingControl
               {

                   FromCustomer = false
               })
                }

            }

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>
                    التدقيق
                </h4>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Shared/Orders/_OrderAudits.cshtml", Model.OrderAudits.ToList())
            </div>
        </div>
    </div>

</div>
