﻿@model orDatabase.Customer

@{
    ViewBag.Title = Model.User.FullName;
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "details";
}


<div class="panel panel-default">
    <div class="panel-body">

        @Html.EditorFor(x => x.User)
        @Html.EditorForModel()

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row col-lg-offset-3">

            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })
            @Html.ActionLink("تعديل", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-success" })
        </div>
    </div>

</div>


<div class="row">
    @foreach (var ord in Model.Orders.Where(x => x.OrderStatusID == orDatabase.OrderStatusEnum.Competed && x.DriverRating != null).ToList())
    {
        <div class="col-md-3">
            @Html.Partial("~/Views/Shared/Orders/_Rating.cshtml", new _app.PageClass.RatingControl
        {
            Rating = ord.DriverRating.Value,
            Text = ord.DriverComment,
            UserLink = new _app.PageClass.ActionURL
            {
                Action = "Details",
                Contoller = "Drivers",
                Parametr = ord.DriverID.Value,
                Text = ord.Driver.User.FullName
            },
            FromCustomer = false,
            UserPhoto = ord.Driver.User.Photo,
            Order = ord
        })


        </div>
    }
</div>
   


        <div class="panel panel-alt">
            <div class="panel-heading">
                <h5>الطلبات</h5>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Shared/Orders/_OrdersTable.cshtml", Model.Orders.Where(x => x.OrderStatusID != 1).ToList())
            </div>
        </div>
