﻿@model orDatabase.Customer
@{
    /**/

    ViewBag.Title = "تعديل بينات ";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "edit";
}

@using (Html.BeginForm((string)ViewBag.Contoler, "Customer",
                                                    FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="panel panel-default">
        <div class="panel-body">
            @Html.EditorFor(x => x.User)
            @Html.EditorForModel()

            <div class="row col-lg-offset-3">
                <input type="submit" value="حفظ" class="btn btn-darkblue " />
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })


            </div>
            </div>
        </div>
            }
