﻿@model IEnumerable<orDatabase.Customer>

@{
    ViewBag.Title = "العملاء";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">


                <table class="dataTable  col-md-12">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>الاســــم</th>
                            <th>رقم الهاتف</th>
                            <th>حاله الحساب</th>
                            <th>الطلبات المكتمله</th>
                            <td>خيارات</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.User.Photo)" alt="">
                                </td>
                                <td>
                                    @Html.ActionLink(item.User.FullName, "Details", new { id = item.CustomerID })

                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @if (item.User.Active)
                                    {<span class="info">حساب نشط</span> }
                                    else
                                    { <span class="aRed">حساب موقوف</span>}
                                </td>
                                <td>
                                    @item.Orders.Where(x => x.OrderStatusID == orDatabase.OrderStatusEnum.Competed).ToList().Count طلب
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="@Url.Action("Details", new { id = item.CustomerID })" title="التفاصيل"><i class="fa fa-info"></i></a>
                                        </div>

                                        <div class="col-md-4">
                                            <a href="@Url.Action("Edit", new { id = item.CustomerID })" title="تعديل بيانات"><i class="fa fa-pencil"></i></a>
                                        </div>

                                        <div class="col-md-4">
                                            <a href="@Url.Action("Delete", new { id = item.CustomerID })" class="delete-row danger aRed" title="حذف"><i class="fa fa-trash-o"></i></a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
        
    </div>

</div>
