﻿@model _app.PageClass.DeleteSP

@{
    ViewBag.Title = "حذف مقدم الخدمه";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "details";
}

@Html.Partial("~/Views/Shared/_Layouts/_MapsAPI.cshtml")

@using (Html.BeginForm((string)ViewBag.Contoler, "ServiceProviders",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="panel panel-default">
        <div class="panel-body">





            @Html.AntiForgeryToken()



            @Html.EditorFor(x => x.ServiceProvider)
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row col-lg-offset-3">

                @if (Model.CanBeDeleted)
                {
                    <input type="submit" value="حذف" class="btn btn-danger " />
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })

                }
                else
                {
                    <input type="submit" value=" حذف" class="btn btn-danger  disabled" />
                    @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })
                    <br />
                    <strong class="text-danger">لا يمكن حذف السجل لوجود اعتماديه عليه</strong>
                }



            </div>

        </div>

    </div>


    
}


