﻿@model orDatabase.ServiceProvider
@{
    ViewBag.Title = Model.SpName;
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "details";
}

@Html.Partial("~/Views/Shared/_Layouts/_MapsAPI.cshtml")

<div class="panel panel-default">
    <div class="panel-body">
        @Html.EditorForModel()
        @Html.EditorFor(x => x.User)


    </div>

</div>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row col-lg-offset-3">

            @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })
            @Html.ActionLink("تعديل", "Edit", new { id = Model.SPID }, new { @class = "btn btn-success" })


        </div>

    </div>

</div>



<div class="row">
    @foreach (var ord in Model.Orders.Where(x => x.OrderStatusID == orDatabase.OrderStatusEnum.Competed && x.OrderRating != null).ToList())
    {
    <div class="col-md-3">

      

            @Html.Partial("~/Views/Shared/Orders/_Rating.cshtml", new _app.PageClass.RatingControl
       {
           Rating = ord.OrderRating.Value,
           Text = ord.RatingComment,
           UserLink = new _app.PageClass.ActionURL
           {
               Action = "Details",
               Contoller = "Customer",
               Parametr = ord.CustomerID,
               Text = ord.Customer.User.FullName
           },
           FromCustomer = true,
           UserPhoto = ord.Customer.User.Photo,
           Order = ord
       })

        

    </div>
    }
</div>