﻿@model orDatabase.ServiceProvider
@{
    ViewBag.Title = Model.SpName;
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "edit";
}

@Html.Partial("~/Views/Shared/_Layouts/_MapsAPI.cshtml")


@using (Html.BeginForm("", "ServiceProviders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.EditorForModel()
            @Html.EditorFor(x => x.User)

        </div>

    </div>


    <div class="panel panel-default">
        <div class="panel-body">






            <div class="row col-lg-offset-3">
                <input type="submit" value="حفظ" class="btn btn-darkblue "  name="action:Edit" />
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })

                <input type="submit" value="اعد ضبط كلمه المرور" class="btn btn-danger " name="action:RestPassword" />
            </div>
        </div>

    </div>

}
