﻿@model orDatabase.Item

<div class="row">
    <div class=" col-md-12 ">
        <div class="panel panel-default text-center">

            <div class="panel-body">


                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Categories", new { id= Model.CatID })">
                        @Model.ItemsCategory.CatName
                    </a>

                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Items", new { id= Model.ItemID })">
                        @Model.ItemName
                    </a>
                </div>
            </div>
        </div>
    </div> 
    
</div>