﻿@model orDatabase.Property



<div class="row">
    <div class=" col-md-12 ">
        <div class="panel panel-default text-center">

            <div class="panel-body">

                <div class="col-md-4 ">
                    <a href="@Url.Action("Details", "Categories", new { id= Model.Item.CatID })">
                        @Model.Item.ItemsCategory.CatName
                    </a>

                </div>
                <div class="col-md-4 border-primary" >
                    <a href="@Url.Action("Details", "Items", new { id= Model.ItemID })">
                        @Model.Item.ItemName
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Details", "ItemProperties", new { id= Model.ItemID })">
                        @Model.PropertyName
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
