﻿@model _app.PageClass.ClientHomePage

@{
    ViewBag.Title = "الصفحه الرئيسيه";
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    DateTime timeform = DateTime.Today.Add(Model.From) ;
    DateTime timeto = DateTime.Today.Add(Model.To);
}


<script src="~/Theme/vendor/chart.js/chart.min.js"></script>
<script src="~/Theme/vendor/chart.js/utils.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong class="bold">تنبيه !</strong> برجاء تحديث الصفحه كل 30 ثانيه .
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            @*<img src="/Theme/images/is-user.png" alt="">*@
                            <i class="fa  fa-home text-white" style="opacity:1"></i>
                        </div>
                        <div class="col-xs-8">
                            @if (Model.IsOpen)
                            {
                                <small class="stat-label">
                                    مفتوح
                                </small>
                            }
                            else
                            {
                                <small class="stat-label">
                                    مغلق
                                </small>
                            }

                                <div class="mb15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-label">مفتوح من</small>
                                    <h5>
                                        @timeform.ToShortTimeString()
                                    </h5>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stat-label">الي</small>
                                    <h5>
                                        @timeto.ToShortTimeString()
                                    </h5>
                                </div>
                            </div>

                        </div>
                    </div><!-- row -->

                    

                  
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-warning panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <img src="/Theme/images/is-user.png" alt="">

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">العملاء</small>
                            <h1>@Model.CusAll</h1>
                        </div>
                    </div><!-- row -->

                 

                    <!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <i class="fa  fa-file-text text-white" style="opacity:1"></i>

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الطلبات </small>
                            <h1>@Model.OrdAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">جاري العمل عليها</small>
                            <h4>@Model.OrdOpen</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">منتهيه</small>
                            <h4>@Model.OrdClosed</h4>
                        </div>

                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-info panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <i class="fa   fa-bullhorn text-white" style="opacity:1"></i>

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الاصناف</small>
                            <h1>@Model.ItemAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">ساريه</small>
                            <h4>@Model.ItemOn</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">معطله</small>
                            <h4>@Model.itemOff</h4>
                        </div>

                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-body">

            <div class="col-sm-6 col-md-12">
                @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml", Model.Chart1)
            </div>


           
            </div>
        </div>
    </div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h2>
                طلبات جاري العمل عليها
            </h2>

        </div>
        <div class="panel-body">


            @Html.Partial("~/Areas/Clinet/Views/Shared/Order/_OrdersTable.cshtml", Model.OpenOrders.ToList())


        </div>
    </div>
</div>

