﻿@model orDatabase.ServiceProviderCategory


@Html.HiddenFor(x=> x.CatID)


@if (ViewBag.formMode == "create" || ViewBag.formMode == "edit")
{
    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="SPPhoto" class="thumbnail" />
            </div>
            <div class="row">
                <div class="col-md-12  text-center">

                    <span style="cursor:pointer">
                        <span class="button-content" onclick="$('#filePhoto').click();">
                            تغير الصوره
                        </span>
                    </span>
                    <input type="file" id="filePhoto" name="filePhoto" style="display:none" />


                </div>

            </div>

        </div>

        <div class="col-md-7">

            <div class="mb10">
                @Html.LabelFor(x => x.CatName, "الاسم", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.CatName, new { @class = "form-control", @required = "" })

            </div>
            <div class="mb10">
                <label class="control-label">الحالة</label>

                <div class="">





                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.Active, new { Model.Active, @data_toggle = "toggle" })

                    </label>

                </div>
                <strong>
                    تعطيل هذه القطاع سوف يوقف جميع الشركات التي تنتمي اليه
                </strong>
            </div>


        </div>
    </div>

}

else if (ViewBag.formMode == "details")
{

    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="Photo" class="thumbnail" />
            </div>
            

        </div>

        <div class="col-md-7">

            <div class="mb10">
                @Html.LabelFor(x => x.CatName, "الاسم", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.CatName, new { @class = "form-control", @readonly="readonly"})

            </div>
            <div class="mb10">
                <label class="control-label">الحالة</label>

                <div class="">





                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.Active, new { Model.Active, @data_toggle = "toggle" , @disabled="disabled" })

                    </label>

                </div>
                <strong>
                    تعطيل هذه القطاع سوف يوقف جميع الشركات التي تنتمي اليه
                </strong>
            </div>


        </div>
    </div>

}

