﻿


@model orDatabase.ServiceProvider


@Html.HiddenFor(x => x.SPID)


@if (ViewBag.formMode == "create" || ViewBag.formMode == "edit")
{

    @Html.HiddenFor(x => x.Photo)



    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="SPPhoto" class="thumbnail" name="SPPhoto" />
            </div>
            <div class="row">
                <div class="col-md-12  text-center">

                    <span style="cursor:pointer">
                        <span class="button-content" onclick="$('#SPfilePhoto').click();">
                            تغير الصوره
                        </span>
                    </span>
                    <input type="file" id="SPfilePhoto" name="SPfilePhoto" style="display:none" />


                </div>

            </div>

        </div>

        <div class="col-md-7">
            <div class="col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.SpName, "الاسم", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SpName, new { @class = "form-control", @required = "" })
                </div>
            </div>
            <div class="  col-md-12">

                <div class="mb10">
                    <label class="control-label">القطاع التجاري</label>
                    @Html.DropDownList("SPCat", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SPCat, "", new { @class = "text-danger" })

                </div>


            </div>



            <div class="col-md-12">
                <h4>
                    <label class="control-label">ساعات العمل</label>
                </h4>
                <div class="row mb10">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.WrokingFrom, "من الساعه", new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(x => x.WrokingFrom, new { @class = "form-control  ",
                           @placeholder = "من الساعه", @required = "", @type="time" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.WorkingTill, "الي الساعه", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.WorkingTill, new { @class = "form-control ",
                       @placeholder = "الي الساعه", @required = "",
                       @type = "time"
                   })

                    </div>
                    <div class="">
                        <span class="infosummary last float-right">اذا كانت ساعه بدايه العمل تساوي ساعه الاغلاق فالمكان يعمل 24 ساعه</span>
                    </div>
                </div>
            </div>


            <div class="col-md-12 ">

                <div class="row mb10">
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.WrokingFrom, "الحد الادني للطلب", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.MinOrder, new { @class = "form-control", @placeholder = "الحد الادني للطلب", @required = "", @type="number" })

                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.DeliveryCharges, "قيمه التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryCharges, new { @class = "form-control", @placeholder = "قيمه التوصيل", @required = "", @type = "number" })

                    </div>

                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.DeliveryTimeframe, "مده التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryTimeframe, new { @class = "form-control", @placeholder = "مده التوصيل", @required = "", @type = "number" })

                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.ProfitShare, "نسبه الربح", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.ProfitShare, new { @class = "form-control", @placeholder = "غير محدد", @required = "", @type = "number" })

                    </div>
                </div>
            </div>

            <div class=" col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.Address, "العنوان", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @required = "" })
                </div>
            </div>

            <div class=" col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.Notes, "وصف مقدم الخدمه", new { @class = "control-label" })
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @required = "" })
                </div>
            </div>

        </div>


        @*@Html.HiddenFor(x=> x.Lat)
            @Html.HiddenFor(x=> x.Lng)*@

        <div class="row">
            <div class="col-md-3">
                <h4>الموقع</h4>
            </div>
            <div class="col-md-7">
                @Html.Partial("~/Views/Shared/Maps/_LocationPicker.cshtml", new _app.UI.gLocation
       {
           lat = Model.Lat.ToString(),
           lid = Model.SPID.ToString(),
           lng = Model.Lng.ToString(),
           readOnly = false
       })

            </div>

        </div>

    </div>

}

else if (ViewBag.formMode == "details")
{

    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="SPPhoto" class="thumbnail" name="SPPhoto" />
            </div>


        </div>

        <div class="col-md-7">
            <div class="col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.SpName, "الاسم", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SpName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="  col-md-12">

                <div class="mb10">
                    <label class="control-label">القطاع التجاري</label>
                    @Html.TextBoxFor(x => x.ServiceProviderCategory.CatName, new { @class = "form-control", @readonly = "readonly" })

                </div>


            </div>



            <div class="col-md-12">
                <h4>
                    <label class="control-label">ساعات العمل</label>
                </h4>
                <div class="row mb10">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.WrokingFrom, "من الساعه", new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(x => x.WrokingFrom, new { @class = "form-control", @placeholder = "من الساعه", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.WorkingTill, "الي الساعه", new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(x => x.WorkingTill, new { @class = "form-control",
                           @placeholder = "الي الساعه", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-12 ">

                <div class="row mb10">
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.WrokingFrom, "الحد الادني للطلب", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.MinOrder, new { @class = "form-control", @placeholder = "الحد الادني للطلب", @readonly = "readonly" })

                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.DeliveryCharges, "قيمه التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryCharges, new { @class = "form-control", @placeholder = "قيمه التوصيل", @readonly = "readonly" })

                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.DeliveryTimeframe, "مده التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryTimeframe, new { @class = "form-control", @placeholder = "قيمه التوصيل", @readonly = "readonly" })

                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(x => x.ProfitShare, "نسبه الربح", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.ProfitShare, new { @class = "form-control", @placeholder = "غير محدد", @readonly = "readonly" })

                    </div>
                </div>
            </div>

            <div class=" col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.Address, "العنوان", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class=" col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.Notes, "وصف مقدم الخدمه", new { @class = "control-label" })
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>الموقع</h4>
            </div>
            <div class="col-md-7">
                @Html.Partial("~/Views/Shared/Maps/_LocationPicker.cshtml", new _app.UI.gLocation
               {
                   lat = Model.Lat.ToString(),
                   lid = Model.SPID.ToString(),
                   lng = Model.Lng.ToString(),
                   readOnly = true
               })

            </div>

        </div>


    </div>

}
else if (ViewBag.formMode == "thumbnail")
{

    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="SPPhoto" class="thumbnail" name="SPPhoto" />
            </div>


        </div>

        <div class="col-md-7">
            <div class="col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.SpName, "اسم موفر الخدمه", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SpName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="  col-md-12">

                <div class="mb10">
                    <label class="control-label">القطاع التجاري</label>
                    @Html.TextBoxFor(x => x.ServiceProviderCategory.CatName, new { @class = "form-control", @readonly = "readonly" })

                </div>


            </div>






            <div class="col-md-12 ">

                <div class="row mb10">
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.WrokingFrom, "الحد الادني للطلب", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.MinOrder, new { @class = "form-control", @placeholder = "الحد الادني للطلب", @readonly = "readonly" })

                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.WorkingTill, "قيمه التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryCharges, new { @class = "form-control", @placeholder = "قيمه التوصيل", @readonly = "readonly" })

                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.DeliveryTimeframe, "مده التوصيل", new { @class = "control-label" })

                        @Html.TextBoxFor(x => x.DeliveryTimeframe, new { @class = "form-control", @placeholder = "قيمه التوصيل", @readonly = "readonly" })

                    </div>

                </div>
            </div>

            <div class=" col-md-12">
                <div class="mb10">
                    @Html.LabelFor(x => x.Address, "العنوان", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class=" col-md-12">
                <div class="mb10">
                  
                    @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>



        </div>




    </div>

}

