﻿@model _app.PageClass.AdminHomePage
@{
    ViewBag.Title = "مرحبا " + _app.UI.CurrentUser.fName;
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}

<script src="~/Theme/vendor/chart.js/chart.min.js"></script>
<script src="~/Theme/vendor/chart.js/utils.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong class="bold">تنبيه !</strong> برجاء تحديث الصفحه كل 30 ثانيه .
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-info panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <i class="fa   fa-bullhorn text-white" style="opacity:1"></i>

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الاعلانات</small>
                            <h1>@Model.AdAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">ساريه</small>
                            <h4>@Model.AdOn</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">منتهيه</small>
                            <h4>@Model.AdOff</h4>
                        </div>

                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <i class="fa  fa-file-text text-white" style="opacity:1"></i>

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الطلبات </small>
                            <h1>@Model.OrdAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">جاري العمل عليها</small>
                            <h4>@Model.OrdOpen</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">منتهيه</small>
                            <h4>@Model.OrdClosed</h4>
                        </div>

                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            @*<img src="/Theme/images/is-user.png" alt="">*@
                            <i class="fa  fa-truck text-white" style="opacity:1"></i>
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">السائقين</small>
                            <h1>@Model.DrAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">متصل</small>
                            <h4>@Model.DrOn</h4>
                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">غير متصل</small>
                            <h4>@Model.DrOff</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>

</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-warning panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            @*<img src="/Theme/images/is-user.png" alt="">*@
                            <i class="fa   fa-comments-o text-white" style="opacity:1"></i>
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الرسائل</small>

                        </div>
                    </div><!-- row -->
                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">المتبقيه</small>
                            <h4>@Model.MessageBlance</h4>

                        </div><!-- row -->
                        <div class="col-xs-12">
                            <small class="stat-label">
                                خدمه الرسائل مقدمه من 
                                <a href="https://@System.Configuration.ConfigurationManager.AppSettings["smsDomain"]" target="_blank" class="text-white">
                                    @System.Configuration.ConfigurationManager.AppSettings["smsDomain"]
                                </a>
                               
                            </small>
                        </div>
                            <!-- row -->
                        </div><!-- stat -->

                    </div><!-- panel-heading -->
            </div><!-- panel -->
        </div>

    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-dark panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <img src="/Theme/images/is-user.png" alt="">

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">العملاء</small>
                            <h1>@Model.CusAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">جديد *</small>
                            <h4>@Model.CusNew</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">قديم</small>
                            <h4>@Model.CusOld</h4>
                        </div>
                        <div class="col-xs-12">
                            <small class="stat-label">
                                *  سجل حسابه منذ اسبوع
                            </small>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <i class="fa  fa-cubes text-white" style="opacity:1"></i>

                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">الاصناف </small>
                            <h1>@Model.ItemAll</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">نشطه</small>
                            <h4>@Model.ItemOn</h4>

                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">غير مفعله *</small>
                            <h4>@Model.itemOff</h4>
                        </div>
                        <div class="col-xs-12">
                            <small class="stat-label">
                               * اصناف غير مفعله لا يمكن للعملاء طلبها
                            </small>
                        </div>

                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-body">

            <div class="col-sm-6 col-md-6">
                @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml", Model.Chart2)
            </div>


            <div class="col-sm-6 col-md-6">
                @*@Html.Partial("~/Views/Shared/Chart/_Chart.cshtml" ,
        new _app.PageClass.ChartClass { CanvesID = 0, label="lbl" , PointTilite="ahmed", text="text", xAexTitle="X title", yAexTitle= "y titlte",
            Lables = new string[] { "2018-05-01", "2018-05-02" , "2018-05-03" }, Data = new string[] { "2","5","8" } , ChartType= "line"  })*@
                @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml" ,Model.Chart1)
            </div>
            </div>
        </div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h2>
                طلبات جاري العمل عليها
            </h2>

        </div>
        <div class="panel-body">



            @Html.Partial("~/Views/Shared/Orders/_OrdersTable.cshtml", Model.OpenOrders.Where(x => x.OrderStatusID != 6).ToList())


        </div>
        <div class="panel-footer">
            <hr />
        </div>

        <div class="panel-heading">
            <h2>
                مطلوب سائق التوصيل
            </h2>

        </div>
        <div class="panel-body">



            @Html.Partial("~/Views/Shared/Orders/_OrdersTable.cshtml", Model.OpenOrders.Where(x => x.OrderStatusID == 6).ToList())


        </div>
    </div>
        </div>

