﻿@model _app.PageClass.Search

@{
    ViewBag.Title = "البحث عن " + Model.KeyWord + " ....";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    string accountType = ""; string PhoneNumber = "000";
}



<script src="~/Theme/js/jquery.highlight-5.js"></script>

@*
        @if (Model.Orders.Count > 0)
    {
    <div class="panel panel-default">
        <div class="panel-body">
        </div>
    </div>
    }
*@



@if (Model.Orders.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>الطلبات</h3>
        </div>
        <div class="panel-body">

            @Html.Partial("~/Views/Shared/Orders/_OrdersTable.cshtml", Model.Orders.ToList())

        </div>
    </div>
}

@if (Model.Users.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>الافراد</h3>
        </div>
        <div class="panel-body">

            <table class="dataTable  col-md-12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>الاســــم</th>
                        <th>توع الحساب</th>
                        <th>رقم الهاتف</th>
                        <th>حاله الحساب</th>
                        <th>اسم المستخدم</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @if (item.Driver != null)
                                {
                                    <a href="@Url.Action("Details","Drivers", new { id = item.UserID })">
                                        <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.Photo)" alt="">
                                    </a>
                                }
                                @if (item.Customer != null)
                                {
                                    <a href="@Url.Action("Details","Customer", new { id = item.UserID })">
                                        <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.Photo)" alt="">
                                    </a>
                                }
                                @if (item.ServiceProvider != null)
                                {
                                    <a href="@Url.Action("Details","ServiceProviders", new { id = item.UserID })">
                                        <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.Photo)" alt="">
                                    </a>
                                }


                            </td>
                            <td>

                                @if (item.Driver != null)
                                {
                                    accountType = "سائق"; PhoneNumber = item.Driver.PhoneNumber;

                                    @Html.ActionLink(item.FullName, "Details", "Drivers", new { id = item.UserID }, null)
                                }
                                @if (item.Customer != null)
                                {
                                    accountType = "عميل"; PhoneNumber = item.Customer.PhoneNumber;

                                    @Html.ActionLink(item.FullName, "Details", "Customer", new { id = item.UserID }, null)
                                }
                                @if (item.ServiceProvider != null)
                                {
                                    accountType = "موفر خدمه"; PhoneNumber = "";

                                    @Html.ActionLink(item.FullName, "Details", "ServiceProviders", new { id = item.UserID }, null)
                                }

                            </td>
                            <td>
                                @accountType
                            </td>
                            <td>
                                @PhoneNumber
                            </td>
                            <td>
                                @if (item.Active)
                                {<span class="info">حساب نشط</span> }
                                else
                                { <span class="aRed">حساب موقوف</span>}
                            </td>
                            <td>
                                @item.LoginName
                            </td>

                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
}


 

<script type="text/javascript">

    $(document).ready(function() {

        var str = '@Model.KeyWord';

        var sa = str.split(' ');

       var arrayLength = sa.length;
        for (var i = 0; i < arrayLength; i++) {
            $('table').highlight(sa[i]);
        }


        $('#keyword').val(str);
      //


    });



</script>