﻿@model _app.PageClass.ChartClass


<div style="width:100%;">
    <canvas id="canvas_@Model.CanvesID"></canvas>
</div>

<script type="text/javascript">

    var config_@Model.CanvesID = {
        type: '@Model.ChartType',
        data: {
            labels: @Html.Raw(Json.Encode(Model.Lables)) ,
            datasets: [{
                label: '@Model.label',
                backgroundColor: window.chartColors.@Model.Color,
                borderColor: window.chartColors.@Model.Color,
                data: @Html.Raw(Json.Encode(Model.Data)) ,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '@Model.text'
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    //fontColor: 'blue',
                    defaultFontFamil:  'Helvetica Neue'
                }
            },
            tooltips: {

                callbacks: {
                    label: function (tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += " :" + tooltipItem.yLabel  +" @Model.PointTilite";
                        }

                        return label;
                    }
                }

            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '@Model.xAexTitle'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '@Model.yAexTitle'
                    }
                }]
            }
        }
    };





    $(document).ready(function ()
    {
        var ctx_@Model.CanvesID = document.getElementById('canvas_@Model.CanvesID').getContext('2d');
        window.myLine_@Model.CanvesID = new Chart(ctx_@Model.CanvesID, config_@Model.CanvesID);
        console.log(@Model.CanvesID)


    });


</script>
