﻿@model orDatabase.Property
@{
    ViewBag.Title = Model.PropertyName ;
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "edit";

}



@Html.Partial("~/Areas/Clinet/Views/Shared/InfoBox/_ForItemProptery.cshtml", Model.Item)


@using (Html.BeginForm((string)ViewBag.Contoler, "itemProperties",
                                                                FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.EditorForModel()


    <div class="row col-lg-offset-3">
        <input type="submit" value="حفظ" class="btn btn-darkblue " />
        @Html.ActionLink("عوده", "Index", new { id = Model.ItemID }, new { @class = "btn btn-warning" })


    </div>

}