﻿@model orDatabase.ItemsCategory




@if (ViewBag.formMode == "create" || ViewBag.formMode == "edit")
{
    @Html.HiddenFor(x => x.Photo)
    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@_app.UI.Photos.AbsoluteUrl(Model.Photo)" alt="" id="U_Photo" class="thumbnail" name="U.Photo" />
            </div>
            <div class="row">
                <div class="col-md-12  text-center">

                    <span style="cursor:pointer">
                        <span class="button-content" onclick="$('#filePhoto').click();">
                            تغير الصوره
                        </span>
                    </span>
                    <input type="file" id="filePhoto" name="filePhoto" style="display:none" />


                </div>

            </div>

        </div>

        <div class="col-md-7">



            @Html.HiddenFor(x => x.CatID)
            @Html.HiddenFor(x => x.SPID)

          

            <div class="mb10">
                @Html.LabelFor(x => x.CatName, "اسم القسم السلعي", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.CatName, new { @class = "form-control", @required = "" })
                <div class="">
                    <span class="infosummary last float-right">اسم القسم السلعي الذي سوف يظهر للمستخدم</span>
                </div>
            </div>
</div>
        </div>

}
else if (ViewBag.formMode == "details")
{
    <div class="row">
        <div class="col-md-3">
            <div class="row ">
                <img src="@Model.Photo" alt="" id="U_Photo" class="thumbnail" name="U.Photo" />
            </div>
            

        </div>

        <div class="col-md-7">



            @Html.HiddenFor(x => x.CatID)
            @Html.HiddenFor(x => x.SPID)



            <div class="mb10">
                @Html.LabelFor(x => x.CatName, "اسم القسم السلعي", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.CatName, new { @class = "form-control", @readonly = "readonly" })
               
            </div>
        </div>
    </div>


}
