﻿@model orDatabase.Add

@{
    ViewBag.Title = "اعلان جديد";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "create";


}




@using (Html.BeginForm((string)ViewBag.Contoler, "Adds",
                                        FormMethod.Post, new { enctype = "multipart/form-data" }))
{



    <div class="panel panel-default">
        <div class="panel-body">

          
            @Html.EditorForModel()


        </div>

    </div>



    <div class="panel panel-default">
        <div class="panel-body">




            <div class="row col-lg-offset-3">
                <input type="submit" value="حفظ" class="btn btn-darkblue " />
                @Html.ActionLink("عوده", "Index", null, new { @class = "btn btn-warning" })


            </div>



        </div>

    </div>
}

