﻿@model IEnumerable<orDatabase.Add>


@{
    ViewBag.Title = "الاعلانات";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">

        <p>
            @Html.ActionLink("اضافه", "Create", null, new { @class = "btn btn-black" })
        </p>

    </div>

</div>


<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">


                <table class="dataTable  col-md-12">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>القسم المعلن عنه</th>
                            <th>مقدم الخدمه</th>

                            <th>حاله الاعلان</th>
                            <th>تاريخ الاضافه</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.AddPhoto)" alt="">
                                </td>
                                <td>

                                    @Html.ActionLink(item.ItemsCategory.CatName, "Details", "Adds", new { id = item.AddID },null)
                                </td>
                                <td>
                                    @Html.ActionLink(item.ItemsCategory.ServiceProvider.SpName, "Details", "ServiceProviders", new { id = item.ItemsCategory.SPID },null)

                                </td>

                                <td>
                                    @if (item.Active)
                                    {<span class="info">اعلان نشط</span> }
                                    else
                                    { <span class="aRed">اعلان موقوف</span>}
                                </td>
                                <td>
                                    @item.DateCreated.ToShortDateString()
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>


