﻿
@model _app.PageClass.RatingControl
@{ string from = "";}


<div class="panel panel-default">
    <div class="panel-body">

        <div class="panel-body">
            <div class="text-center">

                <div class="row">

                    <h3>
                        لم يتم تقيم الطلب من قبل



                        @if (Model.FromCustomer)
                        {
                            from = "العميل ";
                        }
                        else
                        {
                            from = " السائق ";

                        }

                        @from
                        
                        @if(Model.UserLink != null)
                        {
                        <a href="@Url.Action(Model.UserLink.Action, Model.UserLink.Contoller ,
                        new { id = Model.UserLink.Parametr})">
                            @Model.UserLink.Text
                        </a>
                        }

                        بعد !



                    </h3>

                </div>
            </div>


        </div>
    </div>

</div>
