﻿@model IEnumerable<orDatabase.Order>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>
                رقم الطلب
            </th>
            <th>
                التاريخ
            </th>
            <th>
                الوقت
            </th>
            <th>
                موفر الخدمه
            </th>
            <th>
                العميل
            </th>
            <th>
                اجمالي الاصناف
            </th>
            <th>
                اجمالي الطلب
            </th>
            <th>
                حاله الطلب
            </th>
            <th>
                طريقه الدفع
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("OrderDetails","Orders", new { id = item.OrderID })">@item.OrderID</a>
            </td>
            <td>
                @item.OrderDate.Date.ToShortDateString()
            </td>
            <td>
                @item.OrderDate.ToShortTimeString()
            </td>
            <td>
                <a href="@Url.Action("Details","ServiceProviders", new { id = item.SPID } )">@item.ServiceProvider.SpName</a>
            </td>
            <td>
                <a href="@Url.Action("Details","Customer", new { id = item.CustomerID } )">@item.Customer.User.FullName</a>
            </td>
            <td>
                @item.OrderItems.Count
            </td>
            <td>
                @item.Grandtotal دينار
            </td>
            <td>
                @item.OrderStatue.StatusName
            </td>
            <td>
                @if (item.PaymentMethod != null)
                {<span>
                        @item.PaymentMethod.PMname
                    </span>}
            </td>
        </tr>
        }
    </tbody>
</table>