﻿@model orDatabase.Order



@if (_app.UI.CurrentUser.Administrator != null)
{


    if (Model.OrderStatusID == orDatabase.OrderStatusEnum.Sent2SP)
    {

        using (Html.BeginForm("AcceptOrder", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">
                <input type="submit" class="btn btn-success col-md-12" value="قبول" />
            </div>
        }


    }

    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.AcceptedBySp)
    {
        using (Html.BeginForm("RequestDriver", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">
                <h4>هل الطلب علي وشك الانتهاء من التحضير ؟</h4>
                <input type="submit" class="btn btn-success col-md-12" value="طلب سائق الان" />
            </div>
        }
    }

    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.OrderReadyWaiting4Delivery)
    {
        <div class="mb10">
           <a href="@Url.Action("PickDriver", "Orders", new { id = Model.OrderID })" 
              class="btn btn-warning col-md-12">تحديد السائق</a>
        </div>
    }

    
    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.DriverAcceptedHeading2Sp)
    {


        using (Html.BeginForm("PackagePickedUp", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
        <div class="mb10">
            <h4>هل استلم السائق الطلب ؟</h4>
            <input type="submit" class="btn btn-darkblue-alt col-md-12" value="تم تسليم الطلب للسائق" />
        </div>
        }
    }

    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.DriverGotOrderHeading2Customer)
    {
        using (Html.BeginForm("DeliveryFailure", "Orders", FormMethod.Post, new { }))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">

                @Html.LabelFor(x => x.DeclineReason, "السبب", new { @class = "control-label" })
                @Html.TextAreaFor(x => x.DeclineReason, new { @class = "form-control col-md-12", @required = "required" })
            </div>
            <br />
            <div class="mb10">
                <input type="submit" class="btn btn-danger col-md-12" value="فشل في التسليم" />
            </div>

        }
        <hr class="col-xs-12" />
        using (Html.BeginForm("DeliverySuccessful", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">
                <input type="submit" class="btn btn-success col-md-12" value="تم التوصيل" />
            </div>
        }


    }





    if (orDatabase.OrderStatusEnum.OpenOrders.Any(x => x == Model.OrderStatusID))
    {




        <hr class="col-xs-12" />
        using (Html.BeginForm("DeclineOrder", "Orders", FormMethod.Post, new { }))
        {
            <div class="panel-heading">
               
                حذف الطلب
            </div>

            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">

                @Html.LabelFor(x => x.DeclineReason, "سبب الحذف", new { @class = "control-label" })
                @Html.TextAreaFor(x => x.DeclineReason, new { @class = "form-control col-md-12", @required = "required" })
            </div>
            <br />
            <div class="mb10">
                <input type="submit" class="btn btn-danger col-md-12" value="حذف الطلب" />
            </div>

        }

    }

}
else { <div>not admin</div> }