﻿@model orDatabase.Order

@Html.HiddenFor(x => x.OrderID)

@{ int i = 0;}


<div class="panel ">
    <div class="panel-heading">
        <h4>
            بينات الطلب

        </h4>
    </div>

    <div class="panel-body">


        <div class="mb10">
            <div class="col-sm-6">
                @Html.LabelFor(x => x.OrderID, "رقم الطلب", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.OrderID, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.OrderItems.Count, "عدد الاصناف", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.OrderItems.Count, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="mb10">
            <div class="col-sm-6">
                @Html.LabelFor(x => x.OrderDate, "التاريخ", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.OrderDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.OrderStatue.StatusName, "الحالة", new { @class = "control-label" })
                @Html.TextBoxFor(x => x.OrderStatue.StatusName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="mb10">

            @Html.LabelFor(x => x.CustomerNotes, "ملاحظات العميل", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CustomerNotes, new { @class = "form-control", @readonly = "readonly" })


        </div>

        <div class="mb10">

            @Html.LabelFor(x => x.PMID, "طريقه الدفع", new { @class = "control-label" })
            @Html.TextBoxFor(x => x.PaymentMethod.PMname, new { @class = "form-control", @readonly = "readonly" })


        </div>

        @if (Model.PMID == 2)
        {
        <div class="mb10">

            @Html.LabelFor(x => x.PMID, "رقم العمليه", new { @class = "control-label" })
            @*@Html.TextBoxFor(x => x.PaymentMethod.PMname, new { @class = "form-control", @readonly = "readonly" })*@

            @{
                var p = Model.BankPayements.OrderByDescending(x => x.TransactionDate).FirstOrDefault();
            }

            @*@Html.ActionLink(p.BankPayementID.ToString(), "Details", "PaymentPortal", new { id = p.LocalPayementID },
        new { @class = "form-control" })*@

            @*@Html.LabelFor(x => p.BankPayementID, new { @class = "form-control", @readonly = "readonly" })*@

            @Html.ActionLink(p.BankPayementID.ToString(), "Details", "PaymentPortal", new { id = p.LocalPayementID },
        new { @class = "form-control", style = "background-color: #eee" })
        </div>

        }


    </div>
</div>




<div class="col-md-12">

    <div class="panel ">
        <div class="panel-heading">
            <h4>
                تفاصيل الطلب

            </h4>
        </div>

        <div class="panel-body">


            <table class="table-striped col-md-12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اسم المنتج</th>
                        <th>السعر</th>
                        <th>الخصائص</th>
                        <th>الكمية</th>
                        <th>السعر</th>
                    </tr>
                   </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems.ToList())
                    {
                        i += 1;
                        <tr>
                            <td>@i</td>
                            <td>@item.Item.ItemName</td>
                            <td>@item.ItemPrice</td>
                            <td>
                                @foreach (var prop in item.OIPropertyValues.ToList())
                                {
                                <div class="row danger">
                                    <div class="col-md-6">@prop.Property.PropertyName</div>
                                    <div class="col-md-3">@prop.PropertyValue.ValueName</div>
                                    <div class="col-md-3">+ @prop.ValuePrice </div>
                                </div>
                                }
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @( item.TotalPrice * item.Quantity) دينار
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>

            @*<ul style=" list-style-type:none;">
                @foreach (var item in Model.OrderItems)
                {
                    <li >
                        <div class="col-md-8">
                            @item.Item.ItemName
                        </div>
                        <div class="col-md-2">
                            الكميه ( @item.Quantity )
                        </div>
                        <div class="col-md-2">
                            @item.ItemPrice دينار
                        </div>
                        @if (item.OIPropertyValues.Count > 0)
                        {
                            <ul style=" list-style-type:none;">
                                @foreach (var p in item.OIPropertyValues.ToList())
                                {
                                    <li>
                                        <div class="col-md-10">
                                            @p.Property.PropertyName - @p.PropertyValue.ValueName
                                        </div>
                                        <div class="col-md-2">
                                            @p.ValuePrice دينار
                                        </div>
                                    </li>

                                }

                            </ul>
                        }

                    </li>
                    if ((Model.OrderItems.ToList().IndexOf(item))%2 == 0)
                    {
                        <li>
                            <hr class="col-xs-12">
                        </li>
                    }

                }
               

                
            </ul>*@



            <hr class="col-xs-12">
            <div class="row">

             
                <div class="col-md-10">
                    التوصيل
                </div>
                <div class="col-md-2">
                    @Model.ServiceProvider.DeliveryCharges دينار
                </div>
            </div>
        </div>
        <div class="panel-footer">

            <div class="col-md-10">
                الاجمالي
            </div>
            <div class="col-md-2">
                @Model.Grandtotal دينار
            </div>

        </div>



    </div>
</div>


