﻿@model IEnumerable<orDatabase.Order>

@{ decimal profitTotal = 0, profit = 0 , grandTotal = 0; }

<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                رقم الطلب
            </th>
            <th>
                التاريخ
            </th>
            <th>
                الوقت
            </th>
            <th>
                العميل
            </th>
            <th>
                السائق
            </th>
            <th>
                اجمالي الاصناف
            </th>
            <th>
                اجمالي الطلب
            </th>
            <th>
                النسبه
            </th>
            <th>
                الربح
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("OrderDetails","Orders", new { id = item.OrderID })">@item.OrderID</a>
                </td>
                <td>
                    @item.OrderDate.Date.ToShortDateString()
                </td>
                <td>
                    @item.OrderDate.ToShortTimeString()
                </td>
                <td>
                    <a href="@Url.Action("Details","Customer", new { id = item.CustomerID } )">@item.Customer.User.FullName</a>
                </td>
                <td>
                    <a href="@Url.Action("Details","Drivers", new { id = item.DriverID } )">@item.Driver.User.FullName</a>
                </td>
                <td>
                    @item.OrderItems.Count
                </td>
                <td>
                    @item.Grandtotal دينار
                    @{ grandTotal += item.Grandtotal; }
                </td>
                @if (item.ProfitShare.HasValue)
                {
                    <td>@item.ProfitShare.Value %</td>
                    <td>
                        @{ profit = ((item.Grandtotal * item.ProfitShare.Value) / 100); profitTotal += profit; }

                        @profit دينار
                    </td>
                }
                else
                {
                    <td class="text-danger">
                        غير محدد
                    </td>
                    <td>
                        0
                    </td>
                }
            </tr>
        }
    </tbody>
    @if (Model.Count() > 0)
    {
        <tfoot>
            <tr>
                <td colspan="6">الاجمالــي</td>
                <td>@grandTotal دينار</td>
                <td></td>
                <td >
                    @profitTotal دينار
                </td>
            </tr>
        </tfoot>

    }

</table>