﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/Content/Css")


    @System.Web.Optimization.Scripts.Render("~/Content/Js")

    <script type="text/javascript" src="~/SignalR/hubs"></script>
   
</head>
<body>
   
        @RenderBody()
    
</body>
</html>
