﻿
@{
    Layout = "~/Views/Shared/_Layouts/_Layout.cshtml";

}
<script src="~/Scripts/App/Noti.js"></script>
<div class="leftpanel">

    <div class="logopanel">
        <h1><span>[</span> OR Delivery <span>]</span></h1>
    </div><!-- logopanel -->
    <!-- leftpanelinner -->
    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" src="" class="media-object">
                <div class="media-body">
                    <h4>ahmed</h4>
                    <span>ahmed magdi </span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">الحساب</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="@Url.Action("index","Profile")"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="@Url.Action("SingOut","Account")"><i class="fa fa-sign-out"></i> <span>تسجيل خروج</span></a></li>
            </ul>
        </div>


        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="nav-parent">
                <a href="@Url.Action("index","Home")"><i class="fa fa-home"></i> <span>الرئيسية</span></a>

                <ul class="children">
                    <li><a href="@Url.Action("index","Home")"><i class="fa fa-caret-right"></i>الرئيسية</a></li>
                </ul>

            </li>





            <li class="nav-parent">
                <a href=""><i class="fa fa-database"></i> <span>البيات الاساسيه</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","ServiceProviderCategories")"><i class="fa fa-caret-right"></i>انواع قطاعات التجارية </a></li>

                    <li><a href="@Url.Action("index","ServiceProviders")"><i class="fa fa-caret-right"></i><span>مقدمين الخدمات</span></a></li>
                </ul>
            </li>
            <li class="nav-parent">
                <a href="@Url.Action("index","Orders")"><i class="fa fa-edit"></i> <span>الطلبات</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","orders")"><i class="fa fa-caret-right"></i>كل الطلبات</a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 2 })"><i class="fa fa-caret-right"></i>ارسل لموفر الخدمه</a></li>
                    @*<li><a href="@Url.Action("FilterByStatus","orders", new { id = 3 })"><i class="fa fa-caret-right"></i> الغاء من قبل العمبل</a></li>*@
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 4 })"><i class="fa fa-caret-right"></i>مقبول و جاري التحضير</a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 5 })"><i class="fa fa-caret-right"></i>مرفوض من موفر الخدمه </a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 6 })"><i class="fa fa-caret-right"></i>تم الانتهاء ومطلوب سائق </a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 7 })"><i class="fa fa-caret-right"></i>تم الارسال للسائق</a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 8 })"><i class="fa fa-caret-right"></i>مقبول ومتجه لموفر الخدمه</a></li>
                    @*<li><a href="@Url.Action("FilterByStatus","orders", new { id = 9 })"><i class="fa fa-caret-right"></i>تم رفض الطلب من السائق</a></li>*@
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 10 })"><i class="fa fa-caret-right"></i>متوجه الي العميل</a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 11 })"><i class="fa fa-caret-right"></i>تم التوصيل للعميل بنجاح</a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 12 })"><i class="fa fa-caret-right"></i>فشل في توصيل او الاستلام </a></li>
                    <li><a href="@Url.Action("FilterByStatus","orders", new { id = 13 })"><i class="fa fa-caret-right"></i>طب ملغي</a></li>
                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="fa fa-male"></i> <span>الافراد</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","Customer")"><i class="fa fa-group"></i>العملاء</a></li>
                    <li><a href="@Url.Action("index","Drivers")"><i class="fa fa-group"></i>السائقين</a></li>

                </ul>
            </li>


            <li class="nav-parent">
                <a href=""><i class="fa fa-money"></i> <span>البنك</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("index","PaymentPortal")"><i class="fa fa-group"></i>عمليات الدفع الالكتروني</a></li>
                    <li><a href="@Url.Action("PaymentStatus","PaymentPortal",new { id = 1 })"><i class="fa fa-group"></i>عمليات مقبوله</a></li>
                    <li><a href="@Url.Action("PaymentStatus","PaymentPortal", new { id = 2 })"><i class="fa fa-group"></i>عمليات مرفوضه</a></li>
                </ul>
            </li>



            <li class="nav-parent">
                <a href="@Url.Action("index","Notifications")"><i class="fa fa-bell"></i> <span>التنبيهات</span></a>

                <ul class="children">
                    <li><a href="@Url.Action("index","Notifications")"><i class="fa fa-caret-right"></i>تنبيهات سابقه</a></li>
                    <li><a href="@Url.Action("Create","Notifications")"><i class="fa fa-caret-right"></i>تنبيه جديد</a></li>
                </ul>

            </li>

            <li class="nav-parent">
                <a href=""><i class="fa fa-file"></i> <span>التقارير</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("ByDriver","Reports")"><i class="fa fa-caret-right"></i>طلبات سائق</a></li>
                    <li><a href="@Url.Action("ByCustomer","Reports")"><i class="fa fa-caret-right"></i>طلبات عميل</a></li>
                    <li><a href="@Url.Action("BySP","Reports")"><i class="fa fa-caret-right"></i>طلبات موفر خدمه</a></li>
                    <li><a href="@Url.Action("Completed","Reports")"><i class="fa fa-caret-right"></i>تقارير نسبه الربح</a></li>
                </ul>
            </li>

            <li class="nav-parent">
                <a href=""><i class="fa fa-lock"></i> <span>ضبط النظام</span></a>
                <ul class="children">
                    <li><a href="@Url.Action("MobileAppWellcomeScreen","SystemSetup")"><i class="fa fa-caret-right"></i>شاشه ترحيب الجوال</a></li>
                    <li><a href="@Url.Action("index","Adds")"><i class="fa fa-caret-right"></i>اعلانات التطبيق</a></li>
                    <li><a href="@Url.Action("SupportPhone","SystemSetup")"><i class="fa fa-caret-right"></i>رقم الدعم الفني</a></li>
                </ul>
            </li>

        </ul>


        <!-- infosummary -->

    </div>

</div>
<!-- leftpanel -->

<div class="mainpanel">

    <div class="headerbar">

        <a class="menutoggle"><i class="fa fa-bars"></i></a>

        <form class="searchform" action="@Url.Action("Search","Home")" method="post">
            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="عن ماذا تبحث ...؟" />
        </form>

        <div class="header-right">
            <ul class="headermenu">

                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="@_app.UI.Photos.AbsoluteUrl(_app.UI.CurrentUser.Photo)" alt="" />
                            @_app.UI.CurrentUser.fName
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-usermenu">

                            <li><a href="@Url.Action("index","Profile")"><i class="glyphicon glyphicon-cog"></i> تعديل بياناتي</a></li>

                            <li><a href="@Url.Action("SingOut","Account")"><i class="fa fa-sign-out"></i> <span>تسجيل خروج</span></a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div><!-- header-right -->
        <div class="header-right">

            <ul class="headermenu">



                @Html.Partial("~/Views/Shared/Notifications/_NotiList.cshtml",
               new _app.PageClass.NotiList { ActionName="OrderDetails", AlwaysPromote = false,
                   ControllerName="Orders", IndexActionName= "FilterByStatus", OrderStatus = 6, iconName = "fa  fa-truck" } )



                @Html.Partial("~/Views/Shared/Notifications/_NotiList.cshtml",
             new _app.PageClass.NotiList { ActionName="OrderDetails", AlwaysPromote = false,
                 ControllerName="Orders", IndexActionName= "FilterByStatus", OrderStatus = 4, iconName = "glyphicon glyphicon-check" } )


                @Html.Partial("~/Views/Shared/Notifications/_NotiList.cshtml",
            new _app.PageClass.NotiList { ActionName="OrderDetails", AlwaysPromote = false,
                ControllerName="Orders", IndexActionName= "FilterByStatus", OrderStatus = 10, iconName = "fa fa-share" } )

                @Html.Partial("~/Views/Shared/Notifications/_NotiList.cshtml",
           new _app.PageClass.NotiList { ActionName="OrderDetails", AlwaysPromote = false,
               ControllerName="Orders", IndexActionName= "FilterByStatus", OrderStatus = 5, iconName = "fa fa-minus-circle"
               , HeaderString = "طلبات رفضت من مقدم الخدمه خلال اسبوع"
           } )


                @Html.Partial("~/Views/Shared/Notifications/_NotiList.cshtml",
          new _app.PageClass.NotiList { ActionName="OrderDetails", AlwaysPromote = false,
              ControllerName="Orders", IndexActionName= "FilterByStatus", OrderStatus = 9, iconName = "fa fa-thumbs-down"
              , HeaderString = "طلبات رفضت  من السائقين خلال اسبوع"
          } )
                
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" disabled>
                            مدير نظام
                        </button>

                    </div>
                </li>

            </ul>



        </div>
    </div><!-- headerbar -->


    <div class="pageheader">
        <h2><i class="fa fa-home"></i>@ViewBag.Title</h2>

    </div>

    <div class="contentpanel">

        <div class="row">
            @RenderBody()
        </div>
    </div>
</div>
<script type="text/javascript">
     $(document).ready(function () {

            var msgText = '@_app.UI.msg.Show';

            if (msgText != '')
            {

                ShowMSg(msgText);

            }

            });
</script>

@if (_app.UI.CurrentUser.Administrator != null)
{

    <script type="text/javascript">
        $(function () {

            $.connection.hub.logging = true;
            var adminHub = $.connection.adminHub;

            adminHub.client.message = function (text) {
                console.log(text);
            };


            $.connection.hub.start().done(function () { console.log('admin hub started!'); });

            adminHub.client.OrderStatus6 = function (d) { OrderStatus6(d); }
            adminHub.client.newDriverLogin = function (d) { newDriverLogin(d); console.log('in'); }
        });
    </script>

    var or = _app.UI.NotiMethods.MyNoti();

    if (or != null)
    {
    <div>
        @Html.Partial("~/Views/Shared/Notifications/_NotiModel.cshtml", or);
    </div>
    }
}


