﻿




<script src="http://maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleDistanceMatrixApiKey"]&language=ar&libraries=places"></script>
<script src="~/Theme/js/gmaps.js"></script>