﻿@model orDatabase.Order

@{
    ViewBag.Title = "بينات العميل";
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "details";
}

<div class="card">
    <div class="card-body">
        @Html.Partial("~/Views/Shared/EditorTemplates/User.cshtml", Model.Customer.User)

        <div class="row">
            <div class="col-md-3">
              
                @Html.Partial("~/Views/Shared/_Address.cshtml", Model.CustomerAddress )

            </div>
            <div class="col-md-7">
                <div class="mb10">
                    @Html.LabelFor(x => x.Customer.eMail, "البريد الالكتروني", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Customer.eMail, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="mb10">
                    @Html.LabelFor(x => x.Customer.PhoneNumber, "الهاتف", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Customer.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="mb10">
                    @Html.Partial("~/Views/Shared/Maps/_LocationPicker.cshtml", new _app.UI.gLocation
               {
                   readOnly = true,
                   lat = Model.CustomerAddress.Lat,
                   lng = Model.CustomerAddress.Lng,
                   lid = Model.AddressID.ToString()
               })
                </div>
            </div>
        </div>
    </div>
</div>
