﻿@model orDatabase.PropertyValue

@{
    ViewBag.Title = "اضافه قيمه جديده";
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
    ViewBag.formMode = "create";
}


@Html.Partial("~/Areas/Clinet/Views/Shared/InfoBox/_ForPropteryValue.cshtml", Model.Property)


@using (Html.BeginForm((string)ViewBag.Contoler, "PropertyValues",
                                                                FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.EditorForModel()



    <div class="row col-lg-offset-3">
        <input type="submit" value="حفظ" class="btn btn-darkblue " />
        @Html.ActionLink("عوده", "Index", new { id = Model.PropertyID }, new { @class = "btn btn-warning" })


    </div>

}

