﻿@model orDatabase.Property

@{
    ViewBag.Title = Model.PropertyName ;
    Layout = "~/Areas/Clinet/Views/Shared/Layouts/_LayoutStructure.cshtml";
}



<p>
    @Html.ActionLink("اضافه", "Create", new { id = Model.PropertyID }, new { @class = "btn btn-black" })
</p>

@Html.Partial("~/Areas/Clinet/Views/Shared/InfoBox/_ForPropteryValue.cshtml", Model)

<table class="table table-striped dataTable">
    <thead>
        <tr>

            <th>
                الاسم
            </th>
            <th>
                السعر
            </th>
            <th>
                الخيارات
            </th>



            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PropertyValues)
        {
            <tr>

                <td>
                    @Html.ActionLink(item.ValueName, "Details", new { id = item.ValueID })

                </td>
                <td>
                   @item.ValuePrice دينار
                </td>



               

                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@Url.Action("Details", new { id = item.ValueID })" title="التفاصيل"><i class="fa fa-info"></i></a>
                        </div>

                        <div class="col-md-4">
                            <a href="@Url.Action("Edit", new { id = item.ValueID })" title="تعديل بيانات"><i class="fa fa-pencil"></i></a>
                        </div>

                        @*<div class="col-md-4">
                                <a href="@Url.Action("Delete", new { id = item.ItemID })" class="delete-row danger aRed" title="حذف"><i class="fa fa-trash-o"></i></a>
                            </div>*@

                    </div>



                </td>


            </tr>
        }
    </tbody>
</table>
