﻿@model IEnumerable<orDatabase.Notification>

@{
    ViewBag.Title = "التنبيهات";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}

<div class="panel panel-warning ">
    <div class="panel-body">

        <p>
            @Html.ActionLink("تنبيه جديد !", "Create", null, new { @class = "btn btn-black" })
        </p>
        </div>
    </div>

        <div class="panel panel-warning ">
            <div class="panel-body">


                @foreach (var item in Model)
                {

                    <div class="col-md-6">

                        <div class="panel panel-default ">
                            <div class="panel-heading">

                                <h4><a href="@Url.Action("details", new { id = item.NotificationID })">@item.Header </a></h4>
                            </div><!-- panel-heading -->
                            <div class="panel-body">

                                <div class="media">
                                    @if (item.Photo != null)
                                    {
                                        <a href="#" class="pull-left">
                                            <img alt="" src="@item.Photo" class="media-object">
                                        </a>
                                    }
                                    <div class="media-body">

                                        @Html.Raw(@item.Continet)

                                    </div>
                                </div>


                            </div><!-- panel-body -->
                            <div class="panel-footer">
                                <div class="media">
                                    <a href="#" class="pull-left">

                                    </a>
                                    <div class="media-body">

                                        <div class="row">

                                            @if (item.ToCustomers == true)
                                            {
                                                <div class="col-md-4">
                                                    <div class="checkbox block">
                                                        <label>
                                                            <input type="checkbox" checked="" disabled="">
                                                            العملاء
                                                        </label>
                                                    </div>
                                                </div>
                                            }

                                            @if (item.ToDrivers == true)
                                            {
                                                <div class="col-md-4">
                                                    <div class="checkbox block">
                                                        <label>
                                                            <input type="checkbox" checked="" disabled="">
                                                            السائقين
                                                        </label>
                                                    </div>
                                                </div>
                                            }



                                        </div>
                                    </div>
                                </div><!-- media -->
                            </div>
                        </div>

                    </div>


                }
            </div>
        </div>
