﻿@model IEnumerable<orDatabase.ServiceProviderCategory>

@{
    ViewBag.Title = "قطاعات مقدمين الخدمات";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}



<div class="panel panel-default">
    <div class="panel-body">

        <p>
            @Html.ActionLink("اضافه توع جدبد", "Create", null, new { @class = "btn btn-black" })
        </p>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-body">




        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        اسم الفئه
                    </th>
                    <th>
                        الحاله
                    </th>
                    <th>
                        عدد الشركات
                    </th>

                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="userinfoTbaleImg" src="@_app.UI.Photos.LocalUrl(item.Photo)" alt="">
                        </td>
                        <td>
                            @Html.ActionLink(item.CatName, "Details", new { id = item.CatID })

                        </td>
                        <td>
                            @if (item.Active)
                            {<span class="info">قطاع نشط</span> }
                            else
                            { <span class="aRed">قطاع موقوف</span>}
                        </td>
                        <td>
                            @item.ServiceProviders.Count شركه
                        </td>




                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Details", new { id = item.CatID })" title="التفاصيل"><i class="fa fa-info"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Edit", new { id = item.CatID })" title="تعديل بيانات"><i class="fa fa-pencil"></i></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="@Url.Action("Delete", new { id = item.CatID })" class="delete-row danger aRed" title="حذف القطاع"><i class="fa fa-trash-o"></i></a>
                                </div>

                            </div>



                        </td>


                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>