﻿@model List<orDatabase.Order>


<table class="table table-striped dataTable" id="formTable">
    <thead>
        <tr>
            <th>
                رقم الطلب
            </th>
            <th>
                التاريخ
            </th>
            <th>
                الوقت
            </th>
            <th>
                العميل
            </th>
            <th>
                اجمالي الاصناف
            </th>
            <th>
                اجمالي الطلب
            </th>
            <th>
                حاله الطلب
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("OrderDetails", "Orders", new { id = item.OrderID })">@item.OrderID</a>
                </td>
                <td>
                    @item.OrderDate.Date.ToShortDateString()
                </td>
                <td>
                    @item.OrderDate.ToShortTimeString()
                </td>
                <td>
                    <a href="@Url.Action("CustomerDetails", "Orders", new { id = item.OrderID })">@item.Customer.User.FullName</a>
                </td>
                <td>
                    @item.OrderItems.Count
                </td>
                <td>
                    @item.Grandtotal ر.س
                </td>
                <td>
                    @item.OrderStatue.StatusName
                </td>
            </tr>
        }
    </tbody>
</table>
