﻿@model orDatabase.Order



@if (_app.UI.CurrentUser.ServiceProvider != null)
{


    if (Model.OrderStatusID == orDatabase.OrderStatusEnum.Sent2SP)
    {
        using (Html.BeginForm("DeclineOrder", "Orders", FormMethod.Post, new { }))
        {
            @Html.HiddenFor(x=> x.OrderID)
            <div class="mb10">

                @Html.LabelFor(x => x.DeclineReason, "سبب الرفض", new { @class = "control-label" })
                @Html.TextAreaFor(x => x.DeclineReason, new { @class = "form-control col-md-12", @required = "required" })
            </div>
            <br />
            <div class="mb10">
                <input type="submit" class="btn btn-danger col-md-12" value="رفض" />
            </div>

        }
        <hr class="col-xs-12" />
        using (Html.BeginForm("AcceptOrder", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">
                <input type="submit" class="btn btn-success col-md-12" value="قبول" />
            </div>
        }


    }

    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.AcceptedBySp)
    {

        using (Html.BeginForm("RequestDriver", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
            <div class="mb10">
                <h4>هل الطلب علي وشك الانتهاء من التحضير ؟</h4>
                <input type="submit" class="btn btn-success col-md-12" value="طلب سائق الان" />
            </div>
        }


    }

    else if (Model.OrderStatusID == orDatabase.OrderStatusEnum.DriverAcceptedHeading2Sp)
    {


        using (Html.BeginForm("PackagePickedUp", "Orders", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.OrderID)
        <div class="mb10">
            <h4>هل استلم السائق الطلب ؟</h4>
            <input type="submit" class="btn btn-darkblue-alt col-md-12" value="تم تسليم الطلب للسائق" />
        </div>
        }
    }

}