﻿@model List<orDatabase.Order>

@{
    ViewBag.Title = "تقرير عن طلبات عميل";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="form-group">

                <label class="col-sm-3 control-label text-left">

                    العميل


                </label>
                <div class="col-sm-5">
                    @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control", @id = "dd_Customer", @onchange = "dd_changed()" })

                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">

            <div class="form-group" id="formTable">
                @Html.Partial("~/Views/Shared/Orders/_OrdersTable.cshtml", Model)
            </div>


        </div>

    </div>
</div>
<script type="text/javascript">

    function dd_changed() {

        var val = $('#dd_Customer').val();
        console.log(val);
        filterByCustomer(val, $('#formTable'));

    }


</script>
