﻿@model  _app.PageClass.Reports.ServiceProviderPrintReport
@{
    ViewBag.Title = "OrderPrintReport";
    Layout = "~/Views/Shared/_Layouts/_Layout.cshtml";
}


<div class="row">

    <table class="col-md-12" style="width:100%">
        <tr>
            <td class="col-md-3">
                <div class="mb10">
                    @Html.LabelFor(x => x.SearchParamters.Fromstr, "من", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SearchParamters.Fromstr, new { @class = "form-control border-0", @readonly = "readonly" })
                </div>
                <div class="mb10">
                    @Html.LabelFor(x => x.SearchParamters.Tostr, "الي", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SearchParamters.Tostr, new { @class = "form-control border-0", @readonly = "readonly" })
                </div>
                <div class="mb10">
                    @Html.LabelFor(x => x.SearchParamters.ServiceProvider.SpName, "موفر الخدمه", new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.SearchParamters.ServiceProvider.SpName, new { @class = "form-control border-0", @readonly = "readonly" })
                </div>
            </td>
            <td class="col-md-9 pull-right">

                <div>
                    <img src="~/Theme/images/or_212.png" alt="or" />
                </div>

            </td>
            
        </tr>
    </table>
    
    
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" id="divtable" >
       @Html.Partial("~/Views/Shared/Orders/_OrdersCompletedReport.cshtml", Model.Orders )
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>
            طبعت 
            @*بواسطه @Model.UserName*@
            في يوم @_app.DateTime.Now.ToShortDateString()
            الساعه @_app.DateTime.Now.ToShortTimeString()
        </h5>
    </div>
  
</div>
<script type="text/javascript">
    $('#divtable').addClass('signin');
    $('body').css('background-color', 'white');
   // $('.dataTable').DataTable().destroy().$('.sorting_asc').css('background-image', 'url("")' );
</script>