﻿
@model IEnumerable<orDatabase.SystemSetup>

@{
    ViewBag.Title = "شاشه ترحيب الجوال";
    Layout = "~/Views/Shared/_Layouts/_LayoutStructure.cshtml";
}



<div class="panel panel-default">
    <div class="panel-body">




        @foreach (var item in Model)
        {

            <div class="col-md-6">

                <div class="panel panel-default panel-timeline">
                    <div class="panel-heading">

                        <div class="media">
                            <a href="#" class="pull-left">

                            </a>
                            <div class="media-body">

                            </div>
                        </div><!-- media -->

                    </div><!-- panel-heading -->
                    <div class="panel-body">

                        <div class="media">

                            <a href="#" class="pull-left btn btn-success" onclick="return BtnClicked(this);" dbid="@item.SID">
                                تغير الصوره
                            </a>

                            <div class="media-body">
                                <img alt="" style="width:200px;height:500px" id="Photo_@item.SID" src="@item.Value" />

                            </div>
                        </div>


                    </div><!-- panel-body -->

                </div>

            </div>


        }

    </div>

</div>
<input type="file" id="up_photo" name="up_photo" style="display:none" />

<script type="text/javascript">


    var id = 0;
    function BtnClicked(b) {
        id = $(b).attr('dbid');

        $('#up_photo').click();
        return false;
    }


    $('#up_photo').change(function () {

        var filepath = $(this).val();
        var ext = filepath.split('.');
        var fext = ext[ext.length - 1]
        fext = fext.toLowerCase();
        if (fext == 'jpg' || fext == 'png' || fext == 'jpeg') {
            var reader = new FileReader();

            var pho = '';
            reader.readAsDataURL($(this).prop('files')[0]);
            reader.onload = function (event) {
                $('#Photo_' + id).attr('src', event.target.result);
                pho = event.target.result;
            };

            reader.onloadend = function () {
                ShowMSg('جاري رفع الصوره ، برجاء الانتظار');

                var json = { 'dbid': id, 'Photo': pho };




                var url = document.location.origin + '/api/' + 'PhotosManger' + '/' + 'UploadMobileScreenPhoto';


                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(json),
                    contentType: "application/json;charset=utf-8",
                    success: function () {
                        ShowMSg('تم رفع الصوره بنجاح');

                    },
                    error: function () {
                        ShowMSg('فشل تحميل الملف');

                    }
                });

            }






        }
        else { alert('مسموح فقط .jpg , .png or .jpeg بتلك انواع الصور !'); $(this).val(''); }
    });


</script>
